/* utillity-first*/

.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.gap-8 {
  gap: 8px;
}

.gap-20 {
  gap: 20px;
}

.gap-28 {
  gap: 28px;
}

.fundo {
  background-color: var(--gray-300);
  border-radius: 10px;
}

.margin {
  margin: auto;
}

.img {
  width: 300px;
  height: 150px;
  border-radius: 14px;
  margin-left: 14px;
  margin-top: 15px;
}

.h2-main {
  font: var(--title-sm);
  margin: 20px 12px 0 16px;
}

.p-main {
  font: var(--text-sm-secondary);
  margin: 0px 16px 21px 16px;
}

.red {
  color: #E3646E;
  ;
}

.padding-25 {
  padding: 25px;
}

.padding-20 {
  padding: 20px;
}

.centralizar {

  display: grid;
  justify-content: center;
  align-items: center;
  row-gap: 8px;

}

.m-top-8-fonte {
  margin-top: 8px;
  font: var(--font-family-tertiary);
  color: var(--gray-500);
}

.margin-top-88 {
  margin-top: 88px;
}

.margin-top-56 {
  margin-top: 56px;
}

.margin-56 {
  margin-top: 56px;
}

.services {
  height: 380px;
  width: 1366px;
  background-color: var(--gray-200);
}

.hw {
  height: 155px;
  width: 888px;
  margin-left: 239px;
}

.border {
  border: solid #292C34 2px;
  border-radius: 15px;
}