/* utillity-first*/

.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.p-skils {
  font: var();
}

.gap-8 {
  gap: 8px;
}

.gap-20 {
  gap: 20px;
}

.gap-28 {
  gap: 28px;
}

.fundo {
  background-color: var(--gray-300);
  border-radius: 10px;
}

.margin {
  margin: auto;
}

.img {
  width: 300px;
  height: 150px;
  border-radius: 14px;
  margin-left: 14px;
  margin-top: 15px;
}

.h2-main {
  font: var(--title-sm);
  margin: 20px 12px 0 16px;
}

.p-main {
  font: var(--text-sm-secondary);
  margin: 0px 16px 21px 16px;
}

.purple {
  color: #BB72E9;
  font: var(--subtitle);
}

.red {
  color: #E3646E;
  font: var(--subtitle);
}

.padding-25 {
  padding: 25px;
}

.padding-20 {
  padding: 20px;
}

.centralizar {

  display: grid;
  justify-content: center;
  align-items: center;
  row-gap: 8px;

}

.m-top-8-fonte {
  margin-top: 8px;
  font: var(--font-family-tertiary);
  color: var(--gray-500);
}

.margin-top-88 {
  margin-top: 88px;
}

.margin-top-56 {
  margin-top: 56px;
}

.margin-56 {
  margin-top: 56px;
}

.services {
  height: 380px;
  width: 1366px;
  background-color: var(--gray-200);
}

.hw {
  height: 155px;
  width: 888px;
  margin-left: 239px;
}

.border {
  border: solid #292C34 2px;
  border-radius: 15px;
}

.contact {
  width: 1366px;
  height: 787px;
  background-image: url(../Assets/image/Background_Contacts.png);
  background-size: cover;
}

.font-h2 {
  font: var(--title-md);
}

.p-footer {
  font: var(--text-md-secondary);
}

.link {
  width: 410px;
  height: 66px;
  margin: 0 483px 0 483px;
  row-gap: 16px;
  padding: 20px;
  margin-bottom: 16px;

}


.end {
  margin-left: 250px;
  margin-right: 7px;
}

.end-2 {
  margin-left: 240px;
  margin-right: 7px;
}

.end-3 {
  margin-left: 260px;
  margin-right: 7px;
}

.end-4 {
  margin-left: 263px;
  margin-right: 7px;
}

.back-link {
  background-color: var(--gray-300);
}